* {
    font-family: 'Maven Pro', sans-serif;
}

p.titulo{
    margin: 2.2%;
    color:#662D91;
    font-size: x-large;
    font-weight: bold;
}

p.subtitulo{
    margin: 2.2%;
    color: black; 
    font-size: large;
    font-weight: bold;
}

.table{
    text-align: center;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
}

.button__buy{
	border-radius: 3px;
	filter: drop-shadow(0px 4px 4px rgb(255, 255, 255)) ;
	transition: background-color 0.2s ease;

	background-color: #af50f8;

	padding: 0.5rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.button__buy:hover{

	background-color: #ddb5fc;
}

.button__buy:active{

	background-color: #662D91;
}