<div class="row">
    <div class="col-8">
      <p class="subtitulo">Acciones - Argentina</p>
    </div>
  </div>
  <div class="row">
    <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Símbolo</th>
          <th scope="col">Último Operado</th>
          <th scope="col">Variación Diaria</th>
          <th scope="col">Cantidad Compra</th>
          <th scope="col">Precio Compra</th>
          <th scope="col">Precio Venta</th>
          <th scope="col">Cantidad Venta</th>
          <th scope="col">Apertura</th>
          <th scope="col">Mínimo</th>
          <th scope="col">Máximo</th>
          <th scope="col">Último Cierre</th>
          <th scope="col">Monto Operado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">ALUA</th>
          <td>410,00</td>
          <td>= 0%</td>
          <td class="table-info">-</td>
          <td class="table-info">-</td>
          <td class="table-danger">-</td>
          <td class="table-danger">-</td>
          <td>411,50</td>
          <td>395</td>
          <td>413</td>
          <td>410</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">BBAR</th>
          <td>1038,10</td>
          <td>= 0%</td>
          <td class="table-info">-</td>
          <td class="table-info">-</td>
          <td class="table-danger">-</td>
          <td class="table-danger">-</td>
          <td>1047</td>
          <td>1002</td>
          <td>1062</td>
          <td>1038,10</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">BMA</th>
          <td>1502,80</td>
          <td>= 0%</td>
          <td class="table-info">-</td>
          <td class="table-info">-</td>
          <td class="table-danger">-</td>
          <td class="table-danger">-</td>
          <td>1525</td>
          <td>1470</td>
          <td>1560</td>
          <td>1502,80</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

