<div class="row">
  <div class="col-8">
    <p class="subtitulo">{{subtitle}}</p>
  </div>
</div>
<div class="row">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Símbolo</th>
          <th scope="col">Último Operado</th>
          <th scope="col">Variación Diaria</th>
          <th scope="col">Cantidad Compra</th>
          <th scope="col">Precio Compra</th>
          <th scope="col">Precio Venta</th>
          <th scope="col">Cantidad Venta</th>
          <th scope="col">Apertura</th>
          <th scope="col">Mínimo</th>
          <th scope="col">Máximo</th>
          <th scope="col">Último Cierre</th>
          <th scope="col">Monto Operado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cotizacion of listaCotizaciones">
          <th scope="row">{{ cotizacion.simbolo }}</th>
          <td>
            {{ cotizacion.ultimoPrecio | currency : "$" : "symbol" : "1.2-2" }}
          </td>
          <td>{{ cotizacion.variacionPorcentual }}</td>
          <td class="table-info">{{ cotizacion.puntas?.cantidadCompra }}</td>
          <td class="table-info">
            {{
              cotizacion.puntas?.precioCompra | currency : "$" : "symbol" : "1.2-2"
            }}
          </td>
          <td class="table-danger">
            {{
              cotizacion.puntas?.precioVenta | currency : "$" : "symbol" : "1.2-2"
            }}
          </td>
          <td class="table-danger">{{ cotizacion.puntas?.cantidadVenta }}</td>
          <td>{{ cotizacion.apertura }}</td>
          <td>{{ cotizacion.minimo }}</td>
          <td>{{ cotizacion.maximo }}</td>
          <td>{{ cotizacion.ultimoCierre }}</td>
          <td>{{ cotizacion.volumen }}</td>
          <td><button class="button__buy">Comprar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
