/* archivo reset.css */
*,
*::before,
*::after {
	box-sizing: border-box;
	user-select: none;
}

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
    font-family: 'Maven Pro', sans-serif;
}

html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	hyphens: auto;
}

a,
button {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

/* archivo estilos.css */

main{
    background-color:#ffffff;
}

.portafolio__container{
    gap: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;

}

button{
    outline: none;
    border: none;
    background-color: transparent;
}

.button__show{
	border-radius: 1.5px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12)) ;
	transition: background-color 0.1s ease;

	background-color: #d0afda9a;

	padding: 0.5rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.button__show:hover{

	background-color: #7b65979a;
}

.button__show:active{

	background-color: #4b44749a;
}

.portafolio__tablas{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;

}