<div class="quienes-somos border pt-5">
  <div class="text-center mt-5">
    <h3 class="fw-bolder fs-2">¿Quiénes somos?</h3>
    <p class="pt-3">
      Somos el grupo N°7 de .NET del programa PIL 2023. Un grupo de
      programadores en formación.
    </p>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <img
              src="../../../assets/integrantes/juan.png"
              class="user-icon py-4"
              alt="..."
            />
            <h5 class="card-title fw-bolder">Juan Heredia</h5>
            <h6 class="card-subtitle mb-2 text-secondary">Programador</h6>
            <p class="card-text p-4"></p>
            <small
              class="text-body-secondary d-flex justify-content-around mb-4 fw-bold"
            >
              <a href="" class="net-links">Twitter</a>
              <a href="" class="net-links">Github</a>
              <a href="" class="net-links">LinkedIn</a>
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <img
              src="../../../assets/integrantes/uriel.jpeg"
              class="user-icon py-4"
              alt="..."
            />
            <h5 class="card-title fw-bolder">Uriel Rochetti</h5>
            <h6 class="card-subtitle mb-2 text-secondary">Programador</h6>
            <p class="card-text p-4"></p>
            <small
              class="text-body-secondary d-flex justify-content-around mb-4 fw-bold"
            >
              <a href="" class="net-links">Twitter</a>
              <a href="" class="net-links">Github</a>
              <a href="" class="net-links">LinkedIn</a>
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <img
              src="../../../assets/integrantes/romina.png"
              class="user-icon py-4"
              alt="..."
            />
            <h5 class="card-title fw-bolder">Romina Vilatta</h5>
            <h6 class="card-subtitle mb-2 text-secondary">Programadora</h6>
            <p class="card-text p-4"></p>
            <small
              class="text-body-secondary d-flex justify-content-around mb-4 fw-bold"
            >
              <a href="" class="net-links">Twitter</a>
              <a href="" class="net-links">Github</a>
              <a href="" class="net-links">LinkedIn</a>
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <img
              src="../../../assets/integrantes/sofia.png"
              class="user-icon py-4"
              alt="..."
            />
            <h5 class="card-title fw-bolder">Sofia Barbiero</h5>
            <h6 class="card-subtitle mb-2 text-secondary">Programadora</h6>
            <p class="card-text p-4"></p>
            <small
              class="text-body-secondary d-flex justify-content-around mb-4 fw-bold"
            >
              <a href="" class="net-links">Twitter</a>
              <a href="" class="net-links">Github</a>
              <a href="" class="net-links">LinkedIn</a>
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <img
              src="../../../assets/integrantes/matias.png"
              class="user-icon py-4"
              alt="..."
            />
            <h5 class="card-title fw-bolder">Matias Angelaccio</h5>
            <h6 class="card-subtitle mb-2 text-secondary">Programador</h6>
            <p class="card-text p-4"></p>
            <small
              class="text-body-secondary d-flex justify-content-around mb-4 fw-bold"
            >
              <a href="" class="net-links">Twitter</a>
              <a href="" class="net-links">Github</a>
              <a href="" class="net-links">LinkedIn</a>
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <img
              src="../../../assets/integrantes/tomas.jpeg"
              class="user-icon py-4"
              alt="..."
            />
            <h5 class="card-title fw-bolder">Tomas Pavon</h5>
            <h6 class="card-subtitle mb-2 text-secondary">Programador</h6>
            <p class="card-text p-4"></p>
            <small
              class="text-body-secondary d-flex justify-content-around mb-4 fw-bold"
            >
              <a href="" class="net-links">Twitter</a>
              <a href="" class="net-links">Github</a>
              <a href="" class="net-links">LinkedIn</a>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5"></div>
  </div>
</div>
