<div class="quienes-somos border pt-5">
  <div class="text-center mt-5">
    <h3 class="fw-bolder fs-2">¿Quiénes somos?</h3>
    <p class="pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, neque!</p>
  </div>
  <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
          <div class="col">
            <div class="card h-100">
              <div class="card-body text-center">
                <img src="/assets/img/black.jpg" class="user-icon py-4" alt="...">
                <h5 class="card-title fw-bolder">Name</h5>
                <h6 class="card-subtitle mb-2 text-secondary">Card subtitle</h6>
                <p class="card-text p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos earum explicabo est, rerum consequatur ab quibusdam ullam autem provident quos.</p>
                <small class="text-body-secondary d-flex justify-content-around mb-4 fw-bold">
                  <a href="" class="net-links">Twitter</a>
                  <a href="" class="net-links">Dribbble</a>
                  <a href="" class="net-links">Dribbble</a>
                </small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body text-center">
                <img src="/assets/img/black.jpg" class="user-icon py-4" alt="...">
                <h5 class="card-title fw-bolder">Name</h5>
                <h6 class="card-subtitle mb-2 text-secondary">Card subtitle</h6>
                <p class="card-text p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos earum explicabo est, rerum consequatur ab quibusdam ullam autem provident quos.</p>
                <small class="text-body-secondary d-flex justify-content-around mb-4 fw-bold">
                  <a href="" class="net-links">Twitter</a>
                  <a href="" class="net-links">Dribbble</a>
                  <a href="" class="net-links">Dribbble</a>
                </small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body text-center">
                <img src="/assets/img/black.jpg" class="user-icon py-4" alt="...">
                <h5 class="card-title fw-bolder">Name</h5>
                <h6 class="card-subtitle mb-2 text-secondary">Card subtitle</h6>
                <p class="card-text p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos earum explicabo est, rerum consequatur ab quibusdam ullam autem provident quos.</p>
                <small class="text-body-secondary d-flex justify-content-around mb-4 fw-bold">
                  <a href="" class="net-links">Twitter</a>
                  <a href="" class="net-links">Dribbble</a>
                  <a href="" class="net-links">Dribbble</a>
                </small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body text-center">
                <img src="/assets/img/black.jpg" class="user-icon py-4" alt="...">
                <h5 class="card-title fw-bolder">Name</h5>
                <h6 class="card-subtitle mb-2 text-secondary">Card subtitle</h6>
                <p class="card-text p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos earum explicabo est, rerum consequatur ab quibusdam ullam autem provident quos.</p>
                <small class="text-body-secondary d-flex justify-content-around mb-4 fw-bold">
                  <a href="" class="net-links">Twitter</a>
                  <a href="" class="net-links">Dribbble</a>
                  <a href="" class="net-links">Dribbble</a>
                </small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body text-center">
                <img src="/assets/img/black.jpg" class="user-icon py-4" alt="...">
                <h5 class="card-title fw-bolder">Name</h5>
                <h6 class="card-subtitle mb-2 text-secondary">Card subtitle</h6>
                <p class="card-text p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos earum explicabo est, rerum consequatur ab quibusdam ullam autem provident quos.</p>
                <small class="text-body-secondary d-flex justify-content-around mb-4 fw-bold">
                  <a href="" class="net-links">Twitter</a>
                  <a href="" class="net-links">Dribbble</a>
                  <a href="" class="net-links">Dribbble</a>
                </small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body text-center">
                <img src="/assets/img/black.jpg" class="user-icon py-4" alt="...">
                <h5 class="card-title fw-bolder">Name</h5>
                <h6 class="card-subtitle mb-2 text-secondary">Card subtitle</h6>
                <p class="card-text p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos earum explicabo est, rerum consequatur ab quibusdam ullam autem provident quos.</p>
                <small class="text-body-secondary d-flex justify-content-around mb-4 fw-bold">
                  <a href="" class="net-links">Twitter</a>
                  <a href="" class="net-links">Dribbble</a>
                  <a href="" class="net-links">Dribbble</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      <div class="container mt-5"></div>
    </div>
</div>
