<div class="card-body">
<h3 class="resume-title">Resumen de tu Compra</h3>
  <div>
    <span class="resumen-label">Método de Pago:</span>
    <span class="resumen-item">Tarjeta de Crédito</span>
  </div>
  <div>
    <span class="resumen-label">Accion:</span>
    <span class="resumen-item" >ABCD</span>
  </div>
  <div>
    <span class="resumen-label">Usted Recibe:</span>
    <span class="resumen-item" >0.00</span>
  </div>
  <div>
    <span class="resumen-label">Fees:</span>
      <span class="resumen-item">$0.00</span>
    </div>
  <div>
  <span class="resumen-label">Total</span>
  <span class="resumen-item">$0.00</span>
</div>
