<nav class="row m-3 portafolio__head">
  <div class="col-xxl-2 portafolio__titulo">
    <h1>PORTAFOLIO</h1>
    <h2 class="portafolio__titulo-nombre">Eduardo Perez</h2>
  </div>
  <div class="col portafolio__cuentas">
    <button type="button" class="portafolio__cuenta portafolio__cuenta--activa">
      <img src="./index_images/portafolio/icono-argentina.svg" alt="" />
      Cuenta Argentina
    </button>
    <button type="button" class="portafolio__cuenta">
      <img src="./index_images/portafolio/icono-usa.svg" alt="" />
      Cuenta en Dolares
    </button>
    <button
      type="button"
      class="portafolio__cuenta portafolio__cuenta--inactiva"
      disabled
    >
      <img src="./index_images/portafolio/icono-moneda.svg" alt="" />
      Cuenta Externa (MXN)
    </button>
    <button
      type="button"
      class="portafolio__cuenta portafolio__cuenta--inactiva"
      disabled
    >
      <img src="./index_images/portafolio/icono-moneda.svg" alt="" />
      Cuenta Externa (EUR)
    </button>
  </div>
</nav>
