/* You can add global styles to this file, and also import other style files */
/* En tu archivo CSS o SCSS */
@font-face {
    font-family: 'Maven Pro';
    src: url('https://fonts.gstatic.com/s/mavenpro/v21/7Auqv4D6DxkMIfJl2xq.woff2') format('woff2');
    /* Puedes agregar otros formatos de fuente aquí si es necesario */
  }
  
  /* Luego, puedes aplicar la fuente a los elementos deseados */
  body {
    font-family: 'Maven Pro', sans-serif;
  }
  