<div class="row">
  <p></p>
</div>
<div class="row">
  <div class="col-md-3 nav-tabs pt10 pb5 text-center" *ngFor="let item of itemMostrar">
    <span>
      <strong>{{item.descripcion}}: </strong>
      {{item.ultimoPrecio}}
    </span>

    <span class="neutral ml10">
      <span class="sprite-inline sprite-arrow"></span
      ><span class="tar ml5"> = {{item.variacionPorcentual}}</span>%
    </span>
  </div>
  
  <div class="row">
  <div class="col-8">
    <p class="titulo">{{title}}</p>
  </div>
</div>
